\sy\stem_ext/apex/com.android.vndk.v30.apex
\sy\stem_ext/priv-app/Setting\s/Setting\s.apk
\sy\stem/\sy\stem/priv-app/FPCamera/FPCamera.apk
product/app/Photo\s/Photo\s.apk
product/app/WebViewGoogle/WebViewGoogle.apk
product/priv-app/Gm\sCore/Gm\sCore.apk
product/priv-app/Me\s\sage\s/Me\s\sage\s.apk
product/priv-app/Velvet/Velvet.apk
